@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito-Medium';
    src: url('../fonts/Nunito-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito-Black';
    src: url('../fonts/Nunito-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Anton-Regular';
    src: url('../fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lutschine-Bold';
    src: url('../fonts/Lutschine-BoldNarx3.otf') format('opentype');
}


html,
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    flex: 1
}

.main-home-wrap {
    margin-top: 54px;
    width: 100%;
    height: 565px;
    height: 100%;
}

.header-wrap {
    -webkit-box-shadow: 0 4px 6px -6px #444;
    -moz-box-shadow: 0 4px 6px -6px #444;
    box-shadow: 0 4px 6px -6px #444;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #181f33;
    z-index: 1000;
    font-family: 'Nunito-Regular', sans-serif;
}

.header-inner {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.header-left {
    height: 60px;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    margin-left: 50%;
    margin-top: 2%;
}

.home-engine-part {
    width: 75%;
}

.header-right {
    text-align: right;
    height: 100%;
    width: 75%;
}

.header-menu {
    margin: 0;
    margin-right: 1%;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: bold;
    float: right;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-menu li {
    font-size: 15px;
    display: inline;
    height: 100%;
    line-height: 60px;
}

.header-menu li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.header-menu li a:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: color 0.6s, border-color 0.6s;
    color: #ff9f00;
    border-bottom: 2px solid #ff9f00;
}

.header-book-service {
    padding-left: 1.5%;
    height: 60px;
    white-space: nowrap;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #ff9f00;
    padding-right: 1%;
    color: #181f33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-book-service-divider {
    width: 1px;
    height: 40px;
    background-color: #181f33;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin: 0 10px;
}

.quality-service-section {
    background-image: url('../assets/images/home-background-part1.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.services-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1%;
}

.service {
    color: white;
    display: flex;
    background-color: #181f33;
    margin-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    font-family: 'Nunito-Regular', sans-serif;
    cursor: pointer;
    z-index: 10;
}

.service h2 {
    margin-left: 10%;
    font-weight: 1;
}

.quality-service-section-text {
    display: flex;
    margin-top: 2%;
}

.quality-service-section-text-left {
    flex: 0 0 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quality-service-section-text-right {
    flex: 0 0 50%;
    margin-top: 5%;
    margin-right: 10%;
}

.quality-service-section-text-right h1 {
    font-family: 'Anton-Regular', sans-serif;
    color: #181f33;
    font-size: xx-large;
    margin-left: 0;
}

.quality-service-section-text-right h2 {
    margin-right: 15%;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: 1;
    color: #181f33;
}

.inline-block-container img,
.inline-block-container h1 {
    display: inline-block;
    vertical-align: middle;
}

.inline-block-container img {
    margin-right: 1px;
}

.inline-block-container {
    display: flex;
    align-items: center;
}

.comprehensive-service-section {
    display: flex;
    margin-top: -1%;
}

.comprehensive-service-section h1 {
    font-family: 'Anton-Regular', sans-serif;
    color: #181f33;
    font-size: xx-large;
    margin-left: 0;
}

.compr-service-left {
    flex: 0 0 50%;
    padding-top: 5%;
    background-color: #eceaeb;
}

.marg-left {
    margin-left: 10%;
}

.compr-service-left h2,
h1 {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: 1;
    color: #181f33;
}

.compr-service-right {
    flex: 0 0 50%;
}

.book-now-btn {
    font-size: x-large;
    background-color: #f99b3a;
    color: #181f33;
    border: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    float: right;
    margin-right: 20%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.book-now-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.car-brands-section {
    background-color: white;
    display: flex;
}

.qualified-experienced-section {
    padding-top: 5%;
    background-image: url('../assets/images/home-background-part3.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.qualif-exp-left {
    flex: 0 0 50%;
    display: flex;
}

.qualif-exp-right {
    flex: 0 0 50%;
}

.yellow-line {
    width: 100%;
    background-color: #ff9f00;
    height: 0.7rem;
}

.footer {
    align-items: center;
    justify-content: center;
    background-color: #181f33;
    color: white;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    background-image: url('../assets/images/home-texture-footer.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
}

.footer-divider {
    height: 60px;
    width: 1px;
    color: white;
}

.footer-first-sub-section {
    display: flex;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
}

.footer-second-sub-section {
    margin-top: 3%;
    padding-bottom: 3%;
}

.footer-section-1 {
    flex: 0 0 20%;
}

.footer-section-2 {
    flex: 0 0 60%;
    display: flex;
}

.footer-section-3 {
    flex: 0 0 20%;
}

.ul-footer {
    text-align: left;
}

.ul-footer li {
    margin-top: 10%;
}

.footer-book-service {
    padding-left: 1.5%;
    white-space: nowrap;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #f99b3a;
    padding-right: 1%;
    color: #181f33;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 50%;
    height: fit-content;
    margin-top: 2%;
}

.footer-book-service-space {
    min-width: 30%;
}

.qualif-exp-rigth {
    margin-left: 3%;
}

.qualif-exp-rigth h1 {
    font-family: 'Anton-Regular', sans-serif;
    color: #181f33;
    font-size: xx-large;
    margin-left: 0;
}

.qualif-exp-rigth h2 {
    color: #181f33;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: 1;
    margin-right: 10%;
}

.mobile-img {
    display: none;
}

.home-mechanic-img {
    width: 50%;
    height: 50%;
}

.service-section-1 {
    margin-top: 5%;
    padding-bottom: 9%;
    background-image: url('../assets/images/-background.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.service-section-1-inner {
    display: flex;
}

.service-section-1-inner-left {
    flex: 0 0 50%;
}

.service-section-1-inner-right {
    flex: 0 0 50%;
}

.service-section-1-inner h1 {
    font-family: 'Anton-Regular', sans-serif;
    color: #181f33;
    font-size: xx-large;
    margin-left: 0;
}

.service-section-1-inner h2 {
    margin-left: 5%;
    margin-right: 15%;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #181f33;
}

.service-section-1-inner h3 {
    margin-left: 5%;
    margin-right: 15%;
    font-family: 'Nunito-Medium', sans-serif;
    font-weight: 1;
    color: #181f33;
}

.service-section-1-inner .inline-block-container h1,h2 {
    margin-left: 2% !important;
}

.service-title {
    position: absolute;
    color: white;
    display: flex;
    background-color: #181f33;
    padding-right: 8%;
    padding-left: 2%;
    margin-left: 10%;
    margin-top: -2%;
    font-family: 'Nunito-Regular', sans-serif;
    width: fit-content;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.main-logbook-wrap {
    margin-top: 54px;
    width: 100%;
    height: 100%;
    position: relative;
}

.mechanic-auto-service {
    width: 80%;
}

.mechanic-computer-service {
    width: 100%;
    float: right;
}

.service-section-2-inner {
    display: flex;
    margin-top: 2%;
}

.service-section-2-inner-contact {
    margin-top: 2%;
    margin-left: 10%;
}

.service-section-2-inner-contact h1 {
    font-family: 'Anton-Regular', sans-serif;
    color: #181f33;
    font-size: xx-large;
    margin-left: 1%;
}

.service-section-2-inner-contact h2 {
    margin-left: 1%;
    margin-right: 15%;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #181f33;
    margin-bottom: 0.5%;
}

.service-section-2-inner-contact h3 {
    margin-left: 5%;
    margin-right: 15%;
    font-family: 'Nunito-Medium', sans-serif;
    font-weight: 1;
    color: #181f33;
    margin-top: 0;
}

.service-section-2-inner-left {
    flex: 0 0 60%;
}

.service-section-2-inner-right {
    flex: 0 0 40%;
}

.service-section-2-inner h1 {
    font-family: 'Nunito-Medium', sans-serif;
    color: #181f33;
    font-size: xx-large;
    margin-left: 0;
    font-weight: 1;
}

.service-section-2-inner h2 {
    margin-left: 5%;
    margin-right: 15%;
    font-family: 'Nunito-Regular', sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: #181f33;
}

.service-section-2-inner h3 {
    margin-left: 5%;
    margin-right: 15%;
    font-family: 'Nunito-Medium', sans-serif;
    font-weight: 1;
    color: #181f33;
}

.block-container-section-2 {
    margin-left: 15%;
    margin-top: 3%;
}

.block-container-section-2 h1 {
    margin-left: 3%;
}

.service-section-2 {
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 5%;
}

.service-section-2 h1 {
    font-family: 'Nunito-Medium', sans-serif;
    color: #181f33;
    font-size: xx-large;
    margin-left: 0;
    margin-right: 15%;
    margin-left: 1%;
    font-weight: 1;
}

.review {
    min-width: 40%;
    max-width: 40%;
    margin-left: 5%;
}

.checked {
    color: orange;
    font-size: xx-large !important;
    margin-right: 3%;
}

.review-final {
    display: flex;
    align-items: center;
}

.comment {
    font-family: 'Nunito-Medium', sans-serif;
    font-size: x-large;
    text-align: justify;
    position: relative;
    padding-left: 8%;
    margin-top: 0;
}

.first-quote {
    font-size: 90px;
    position: absolute;
    top: -10%;
    left: -1%;
    line-height: 1;
    pointer-events: none;
    font-style: italic;
}

.end-quote {
    font-size: 90px;
    position: absolute;
    bottom: -40%;
    right: -5%;
    line-height: 1;
    pointer-events: none;
    font-style: italic;
}

.responsive-iframe {
    width: 100%;
    height: 1036px;
}

.standar-change {
    margin-top: 1%;
}

.service-menu {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 60px;
    font-size: medium;
}

.header-menu-service {
    margin: 0;
    margin-right: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    float: right;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-menu-service li {
    font-size: 11px;
    display: inline;
    height: 100%;
    line-height: 60px;
}

.header-menu-service li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

.header-menu-service li a:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: color 0.6s, border-color 0.6s;
    color: #ff9f00;
    border-bottom: 2px solid #ff9f00;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.book-a-service {
    cursor: pointer;
    margin-left: 10%;
}

.margin-img {
    margin-top: 7%;
}

.center {
    text-align: center;
}

.phone-contact-us {
    width: 30%;
}

a {
    text-decoration: none;
    color: inherit;
}

.wc-contact-us {
    margin-left: -10%;
}

.contact-us-img-1 {
    width: 100%;
}

.phone-numer-footer {
    width: 80%;
}

.mobile-menu {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.menu-icon {
    display: none;
    font-size: xx-large;
    cursor: pointer;
    margin-right: 10px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #181f33;
    position: absolute;
    top: 115%;
    right: 0;
    overflow-y: auto;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-size: small;
}

.menu li a:hover {
    background-color: #575757;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}

.overlay.show {
    display: block;
}


.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
}

.phone-number-header {
    width: 100%;
}

.a-footer {
    display: inline-block;
    max-width: fit-content;
    text-align: center;
    padding: 0;
    margin: 0;
}

.a-footer span {
    display: inline-block;
    max-width: fit-content;
    padding: 0;
    margin: 0;
}

.phone-numer-footer {
    width: 70%;
    height: auto;
}

.a-footer h2 {
    margin: 0;
    font-style: italic;
    font-weight: 1;
    white-space: nowrap;
}

@media (max-width: 768px) {

    .menu {
        display: none;
        flex-direction: column;
        width: 500%;
    }

    .menu-icon {
        display: block;
    }

    .menu li {
        margin: 0;
        width: 100%;
    }

    .menu li a {
        display: block;
        padding: 10px;
        padding-bottom: 7px;
        text-align: left;
    }

    .menu.show {
        display: flex;
    }


    .header-right {
        display: none;
    }

    .header-left {
        width: 100%;
        justify-content: space-between;
    }

    .header-logo {
        margin: 0;
        margin-left: 5%;
        width: 250px;
    }

    .header-menu {
        display: none;
    }

    .header-book-service {
        display: none;
    }

    .quality-service-section-text {
        flex-direction: column;
    }

    .home-engine-part {
        width: 75%;
    }

    .services-up-section {
        flex-direction: column;
    }

    .comprehensive-service-section {
        flex-direction: column;
    }

    .car-brands-section-img {
        display: none;
    }

    .car-brands-section-img-show {
        width: 25%;
    }

    .ul-footer {
        display: none;
    }

    .qualified-experienced-section {
        flex-direction: column;
    }

    .cp-img {
        display: none;
    }

    .mobile-img {
        display: block;
    }

    .service {
        min-width: 60%;
        margin-top: 5%;
        align-items: center;
    }

    .service h2 {
        font-size: medium;
    }

    .quality-service-section-text-left {
        order: 1;
    }

    .quality-service-section-text-right {
        margin: 0;
        text-align: center;
        align-items: center;
    }

    .quality-service-section-text-right h1 {
        font-size: x-large;
        margin-right: 1%;
    }

    .quality-service-section-text-right h2 {
        font-size: medium;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }

    .book-now-btn {
        font-size: small;
        margin-right: 5%;
        padding-left: 4%;
        padding-right: 4%;
    }

    .compr-service-left {
        padding-bottom: 5%;
    }

    .comprehensive-service-section h1 {
        font-size: x-large;
        margin-right: 1%;
    }

    .comprehensive-service-section h2 {
        font-size: medium;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }

    .qualif-exp-rigth h1 {
        font-size: x-large;
        margin-right: 1%;
    }

    .qualif-exp-rigth h2 {
        font-size: medium;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }

    .qualif-exp-left {
        order: 1;
    }

    .home-mechanic-img {
        width: 25%;
    }

    .home-car-img {
        width: 50%;
    }

    .footer-book-service {
        width: 80%;
    }

    .footer-book-service h2 {
        font-size: x-small;
    }

    .footer-book-service-space {
        min-width: 10%;
    }

    .footer-section-3 h2 {
        font-size: x-small;
    }

    .footer-section-3 img {
        width: 25%;
    }

    .footer-section-2 {
        text-align: center;
        align-items: center;
    }

    .yellow-line {
        height: 0.5rem;
    }

    .footer-section-1 img {
        width: 100%;
    }

    .footer-second-sub-section {
        font-size: x-small;
        padding-bottom: 5%;
    }

    .footer {
        background-image: url('../assets/images/R-yellow-texture--footer.png');
    }

    .service-section-2 {
        flex-direction: column;
    }

    .service-section-1-inner {
        flex-direction: column;
    }

    .service-section-2-inner {
        flex-direction: column;
    }

    .yellow-flag {
        width: 5%;
    }

    .service-section-2-inner-contact {
        margin-left: 2%;
        margin-top: 25%;
    }

    .service-section-2-inner-contact h1 {
        font-size: x-large;
        margin: 0;
    }

    .service-section-2-inner-contact h2 {
        font-size: large;
    }

    .service-section-2-inner-contact h3 {
        margin-right: 5%;
        font-size: medium;
        text-align: justify;
    }

    .service-section-1-inner h1 {
        font-size: x-large;
        margin: 0;
    }

    .service-section-1-inner h2 {
        font-size: large;
    }

    .service-section-1-inner h3 {
        margin-right: 5%;
        font-size: medium;
        text-align: justify;
    }

    .service-section-1-inner-right {
        padding-top: 10%;
    }

    .block-container-section-2 {
        margin-left: 5%;
        margin-top: 3%;
    }

    .block-container-section-2 h1 {
        margin-left: 5%;
        font-size: x-large;
    }

    .service-section-2-inner h2 {
        font-size: large;
    }

    .service-section-2-inner h3 {
        margin-right: 5%;
        font-size: medium;
        text-align: justify;
    }

    .service-section-1 {
        margin-top: 0;
    }

    .phone-contact-us {
        width: 40%;
    }

    .wc-contact-us {
        width: 30%;
        margin-left: 0;
    }

    .phone-numer-footer {
        width: 55%;
    }
}