RewriteEngine On
RewriteRule ^(contact-us|logbook-service|book-service|standard-service|tyres|suspension|wheels|cooling|electrical|4wd|contact-us|about-us|brakes|maintenance|inspection|mobile-services) ./index.php?page=$1